<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
	</head>
	<body>
        <h1 class="text-center"><%= title %></h1>
        <br>
        <div>
        <form action="/send" method="post" role="form">
            <div class="form-group">
            <div class="input-group input-group-lg">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Question</span>
            </div>
            <input type="text" class="form-control" name="questions" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            </div>
            <div class="form-group">
             <button type="submit" class="btn btn-primary form-control">Tanya</button>
             </div>
            <div class="form-group">
            <div id="hasil" style="display:block; padding: 20px; border:1px solid gray; height:90px; border-radius: 25px;">
            <h1><%= datanya %></h1></div>
            </div>
        </form>
        <div>
	</body>

  <script>
  
  </script>
</html>